<div class="obsDisplay">
    <div class="buttonContainer">
        @* @onclick=ToggleSidebar *@
        <button>Test</button>

    </div>
    <div class="previewDisplay">
        <div class="previewDisplayHeader">
            <div class="previewDisplayHeaderTitle">
                OBS Display
            </div>
            <div class="SizeForWindowPreview">
                <span style="margin-right: 10px">Breite:</span>
                <InputNumber style="margin-right: 10px" @bind-Value=@pixel_X @onchange=ReloadPreview @on/>
                <span style="margin-right: 10px">Höhe:</span>
                <InputNumber style="margin-right: 10px" @bind-Value=@pixel_Y @onchange=ReloadPreview/>
            </div>
        </div>
        <div class="mainStatsViewPanel">
            <Statsview @key=@reloadKey width=@pixel_X height=@pixel_Y />
        </div>

    </div>
    <p>Hier soll die Anzeige für OBS erstellt werden.</p>
</div>

@code
{
    private int pixel_X = 500;
    private int pixel_Y = 500;
    private string dummyText = "text";
    // Hier soll die Anzeige für OBS erstellt werden.
    private int reloadKey = 0;

    private void ReloadPreview()
    {
        reloadKey++;
    }

}